BasedOnStyle: LLVM
ColumnLimit: 100
AlignAfterOpenBracket: BlockIndent
BinPackArguments: false
BinPackParameters: AlwaysOnePerLine
AllowAllParametersOfDeclarationOnNextLine: false
AllowAllArgumentsOnNextLine: false
IndentWidth: 4